  header {
    padding: 20px 0;
  }

  header .row,
  footer .row {
  display: flex;
  align-items: center;
}

  header h1 {
    font-weight: 700;
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
    color: black;
  }

  hr {
    width: 100%;
    margin:15px 0 0;
    color: gray
  }
  
  .jumbotron {
    display: flex;
    align-items: center;
    background-image: url("index/plant.jpg");
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 100px;
  }

  .jumbotron h2 {
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    font-family: "Courier New", Courier, monospace
  }

  section .row {
    margin: 50px 0 0;
  }

  .intro {
    margin: 0 0 100px;
  }
  
  section .about img {
    margin: 30px 0 45px;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .bio {
    text-align: justify;
    margin: 0 0 250px;
  }

  section .projects img {
    margin: 0 0 30px;
    /* width: 100%; */
    height: 400px;
    object-fit: cover;
  }

  .citibike .jumbotron {
    display: flex;
    align-items: stretch;
    background-image: url("citibike/citibike.jpg");
    background-size: contain;
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 0;
  }

  .mentalhealth .jumbotron {
    display: flex;
    align-items: center;
    background-image: url("mentalhealth/techmentalhealth.jpg");
    background-size: contain;
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 0;
  }

  .seismo .jumbotron {
    display: flex;
    align-items: center;
    background-image: url("seismo/sketch.jpg");
    background-size: contain;
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 0;
  }

  .ux .jumbotron {
    display: flex;
    align-items: contain;
    background-image: url("ux/finalprod.jpg");
    object-fit: fill;
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 0;
  }

  .ux .jumbotron h2 {
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    font-family: "Courier New", Courier, monospace
  }

  .article img {
    margin: 0;
    width: 600px;
    height: 400px;
    object-fit: fill;
  }
  
  .deliverables img {
    margin: 0;
    width: 800px;
    height: 500px;
    object-fit: fill;
  }

  .datamining .jumbotron {
    display: flex;
    align-items: center;
    background-image: url("datamining/ottersea.jpg");
    object-fit: fill;
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 0;
  }

  .pdf img {
    margin: 0;
    width: 500px;
    height: 700px;
    object-fit: fill;
  }

   .das42 .jumbotron {
    display: flex;
    align-items: center;
    background-image: url("das42/dash.jpg");
    object-fit: fill;
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 0;
  }

  .cusd .jumbotron {
    display: flex;
    align-items: center;
    background-image: url("cusd/cusdcurrents.jpg");
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 0;
  }

  .website .jumbotron {
    display: flex;
    align-items: fill;
    background-image: url("website/brick.jpg");
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 0;
  }

  .resume img {
    margin: 0;
    width: 1000px;
    height: 100%;
    object-fit: fill;
  }

  .contact .jumbotron {
    display: flex;
    align-items: center;
    background-image: url("contact/sunset.jpg");
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 15px 0 100px;
  }

  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }